body, body * { 
  background-color: black !important; 
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

/* Center the content within the body */
body { 
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Ensure body takes up full viewport height */
}

pre {
  color: green; 
  text-align: left; 
}

.site-footer {
  display: none !important; 
}